.panelLeft {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentPanelLeft {
    padding: 20px;
}

.title {
     border: 1px solid black;
     font-size: 14px;
     margin-top: 10px;
}

.addVideo {
    margin-top : 10px;
    text-align: center;
}